

//--Header Top Here--//
.header-section {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
	.border__none{
		border-bottom: unset;
	}
}

//Dark setting//
.dark-theme{

	//five work
	.five__work__items{
		.icon{
			img{
				filter: brightness(25);
			}
		}
	}
	//five work

	//blocks
	.common__body__section .common__body__head .nav .nav-item .nav-link.active {
		color: var(--success);
	}
	//blocks

	//Banner Style
	.banner__section{
		.banner__mask{
			display: none;
		}
		.dark__mask{
			display: block !important;
		}
	}
	//Banner Style

	//payment save
	.checkout__radio{
		.checkout__radio-wrapper{
			.checkout__radio-single{
				.form-check-input{
					background-color: transparent;
				}
			}
		}
	}
	//payment save

	//About Style
	//About Four Here//
	.about__section__four{
		.about__content{
			.empower__list{
				li{
					background: #162557;
					.icon{
						i{
							color: #41E295;
						}
					}
				}
			}
		}
	}
	//About Style

	//Qualified Style
	.qualified__content{
		.counting__wrap{
			.counter__items{
				&:not(:last-child){
					border-right: 1px dashed var(--countright);
				}
				&:nth-child(1){
					.counter__content{
						.cont{
							.odometer{
								color: #A89EFA;
							}
							.plus__icon{
								color: #A89EFA;
							}
						}
					}
				}
				&:nth-child(2){
					.counter__content{
						.cont{
							.odometer{
								color: #41E295;
							}
							.plus__icon{
								color: #41E295;
							}
						}
					}
				}
				&:nth-child(3){
					.counter__content{
						.cont{
							.odometer{
								color: #FFAF00;
							}
							.plus__icon{
								color: #FFAF00;
							}
						}
					}
				}
				p{
					color: var(--white);
				}
			}
		}
	}
	//Qualified Style

	//Capabilites Style
	.capabilities__wrap .owl-dots .owl-dot.active span {
		background-color: #41E295;
		width: 8px;
	}
	.capabilities__items{
		background: #162557;
		.content{
			h4{
				a{
					color: #F5F6F7;
				}
			}
			.capabilites__btn{
				background: rgba(255, 175, 0, 0.1);
				color: #EDCB50;
			}
			.capa__more{
				span{
					color: #41E295;
				}
			}
		}
	}
	//Capabilites Style

	//Capabilites Two Here//
	.case__trough{
		.capabilities__items{
			.thumb{
				background: #162557;
			}
			.content{
				background:#162557;
			}
		}
	}
	//Capabilites Two Here//

	//Plaln Style
	.plan__items{
		background: #162557;
		.plan__head{
			background: #0B1738;
			border-top: 1px solid #3021AB;
			border-right: 1px solid #3021AB;
			border-left: 1px solid #3021AB;
		}
		.content__wrap{
			.prices__area{
				border-bottom: 1px solid #243757;
				.icon{
					background: rgba(69, 47, 244, 0.2);
					border: 1px solid var(--base);
					i{
						color: #fff;
					}
				}
			}
			.plan__list{
				li{
					.icon{
						i{
							color: #B3AAFA;
						}
					}
				}
			}
			.price__btn{
				.border__btn{
					border: 1px solid #452FF4;
					color: #B3AAFA;
				}
			}
		}
	}
	.premium__items{
		.plan__head{
			background: #081A2E;
			border-top: 1px solid #005C30;
			border-right: 1px solid #005C30;
			border-left: 1px solid #005C30;
		}
		.content__wrap{
			.prices__area{
				.icon{
					background: rgba(0, 92, 48, 0.2);
					border: 1px solid #005C30;
					i{
						color: #fff;
					}
				}
			}
			.plan__list{
				li{
					.icon{
					   i{
						color: #41E295;
					   }
					}
				}
			}
			.price__btn{
				.border__btn{
					color: #41E295;
					border: 1px solid #005C30;
				}
			}
		}
	}
	.plan__items__two{
		.plan__valu__left{
			border-right: 1px solid #243757;
		}
		.prices__area{
			h4{
				color: #A89EFA;
			}
			.icon{
				background: #452FF4;
				border: 1px solid #6552F6;
				i{
					color: var(--white);
				}
			}
		}
		.content__wrap{
			.plan__list{
				padding: 0;
				li{
					.icon{
						i{
							color: var(--text-base);
						}
					}
				}
			}
			.price__btn{
				.cmn--btn{
					border: 1px solid #004022;
					color: var(--text-base);
				}
			}
		}
	}
	.plan__items__two1{
		background: #09263B;
		.prices__area{
			h4{
				color: #41E295;
			}
			.icon{
				background: #005C30;
				border: 1px solid #2B7853;
				i{
					color: var(--white);
				}
			}
		}
	}
	.plan__items__two2{
		background: #231B36;
		.prices__area{
			h4{
				color: #D99D9D;
			}
			.icon{
				background: #710C0C;
				border: 1px solid  #A21111;
				i{
					color: var(--white);
				}
			}
		}
	}
	.plan__items__two3{
		.prices__area{
			h4{
				color: #FFAF00;
			}
			.icon{
				background: #6B4900;
				border: 1px solid  #84692B;
				i{
					color: var(--white);
				}
			}
		}
	}
	//Plaln Style

	//shop Style
	.shop__side__bar{
		.cmn__items{
			.categoris__lis{
				.form-check{
					.form-check-input{
						border: 1px solid #333D78;
					}
					.form-check-input:checked[type=checkbox] {
						--bs-form-check-bg-image: url(../../assets/img/shop/donecheck.png);
						background-size: 10px;
					}
				}
			}
		}
	}
	//shop Style

	//Plaln Thrree Style
	.plan__section__three{
		
	.plan__items{
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
			.plan__head{
				background: #162557;
			}
			.content__wrap{
				padding: 4px 32px 24px;
				.prices__area{
					background: rgba(255, 255, 255, 0.1);
					border-radius: 5px;
					padding: 14px 16px 16px;
					h3{
						color: #91EEC2;
						margin-bottom: 0;
						.dollar{
							color: #91EEC2;
						}
					}
					.pricetext{
						color: #fff;
					}
				}
				.plan__list{
					li{
						.icon{
							i{
								color: #41E295;
							}
						}
					}
				}
				.price__btn{
					.cmn--btn{
						border: 1px solid #005C30;
						color: #41E295;
					}
				}
			}
		}
	}
	//Plaln Thrree Style

	//efective Style
    .efective__data__wrapper{
        .efect__data__iems{
            .icons{
				background: rgba(40, 138, 91, 0.05) !important;
                border: 1px solid #452FF4 !important;
				i{
					color: #fff;
				}
				img{
					filter: brightness(25);
				}
            }
            .icons2{
                background: #00381D !important;
                border: 1px solid #005C30 !important;
            }
            .icons3{
                background: #412D00 !important;
                border: 1px solid #6B4A00 !important;
            }
            .icons4{
                background: #630A0A !important;
                border: 1px solid #A21111 !important;
            }
        }
    }
	//efective Style

	//testimonial Style
	.testimonial__items{
		background: #162557;
	}
	.testimonial__wrap__two{
		.testimonial__items{ 
			background: #162557;
		}
	}
	.tesiti__three__item{
		.tesiti__three__box{
			background: #162557;
			&::before{
				background: #162557;
			}
			.ratting__inner{
				.quote{
					border: 1px solid #333D78;
					i{
						color: #5F62A8;
					}
				}
			}
		}
		.client__history{
			display: flex;
			align-items: center;
			gap: 20px;
			padding-left: 20px;
			.content{
				h5{
					color: var(--themetext);
					margin-bottom: 4px;
				}
				.designation{
					font-size: 1rem;
					color: var(--themetext);
				}
			}
		}
	}
	.testi__three__wrap{
		.owl-dots{
			.owl-dot{
				span{
					background-color: #2A1D95;
				}
				&.active{
					span{
						background-color: #6552F6;
					}
				}
			}
		}
	}
	//testimonial Style

	//Accordion Style
	.accordion__wrap{
		.accordion-item{
			background: #162557;
			&:not(:last-child){
				margin-bottom: 16px;
			}
			.accordion-header{
				.accordion-button{
					background-color: #162557;
					@include breakpoint(max-xs){
						font-size: 1rem;
					}
					&::after{
						background-size: 1.2vh;
						background-color: #41E295;
					}
				}
				.accordion-button:not(.collapsed)::after {
					background-size: 1.2vh;
				}
				.accordion-button:not(.collapsed) {
					background-color: #162557;
					border-bottom: 1px solid rgba(65, 226, 149, 0.1);
				}
			}
		}
	}
	//Accordion Style

	//Newsletter Style
	.newsletter__content{
		form{
			background: rgba(69, 47, 244, 0.15);
			border: 1px solid #3021AB;
			input{
				color: #fff;
			}
			::placeholder{
				color: #fff;
			}
		}
	}
	.newsletter__wrapper__four{
		background:#162557;
		form{
			background: rgba(168, 158, 250, 0.1) !important;
			border: 1px solid rgba(168, 158, 250, 0.2);
			input{
				background: none;
			}
		}
	}
	//Newsletter Style

	//Include Start//
	.include__cheack{
		.about__chack{
			li{
				.icon{
					background: #A89EFA;
					line-height: 50px;
					i{
						color: var(--white);
					}
				}
				span{
					line-height: 32px;
					color: var(--themetext);
				}
				&:nth-child(2){
					.icon{
						background: #C97575;
						i{
							color: var(--white);
						}
					}
				}
				&:nth-child(3){
					.icon{
						background: #41E295;
						i{
							color: var(--white);
						}
					}
				}
				&:nth-child(4){
					.icon{
						background: #FFAF00;
						i{
							color: var(--white);
						}
					}
				}
			}
		}
	}
	.include__boxes{
		.inclue__box{
			.content{
				p{
					color: var(--white);
				}
			}
			.icnos{
				img{
					filter: brightness(25);
				}
				i{
					color: var(--white);
				}
			}
		}
	}
	.include__grid__boxes{
		.include__box__grid3{
			background: #28162C;
		}
	}
	.make__service{
		.counting__wrap{
			.counter__items{
				.counter__content{
					.cont{
						justify-content: center;
						margin-bottom: 4px;
						.odometer{
							font-size: 2.5rem;
							line-height: 120%;
							font-weight: 600;
							color: #A89EFA !important;
							padding: 0;
						}
						.plus__icon{
							color: #A89EFA !important;
						}
					}
				}
				p{
					color: #fff !important;
				}
				.counter__content__green{
					.cont{
						.odometer{
							color: #41E295 !important;
						}
						.plus__icon{
							color: #41E295 !important;
						}
					}
				}
				.counter__content__red{
					.cont{
						.odometer{
							color: #D99D9D !important;
						}
						.plus__icon{
							color: #D99D9D !important;
						}
					}
				}
				.counter__yellow{
					.cont{
						.odometer{
							color: #FFBD2B !important;
						}
						.plus__icon{
							color: #FFBD2B !important;
						}
					}
				}
			}
		}
	}
	.inclue__benefits__box{
		.icnos{
			img{
				filter: brightness(25);
			}
		}
		.content{
			.benefits__btn{
				span{
					color: var(--robit);
				}
				.icon{
					i{
						color: var(--base);
					}
				}
			}
		}
	}
	//Include End//

	//Plan Same Here//
	.plan__save{
		.yearly__bar{
			.form-check-input{
				display: none;
			}
		}
		.form-switch{
			.form-check-input{
				background-color: var(--cswitch);
				width: 70px;
				height: 35px;
				border: unset;
				outline: none;
				box-shadow: none;
				background-image: url(../../assets/img/elements/click2.png) !important;
				background-size: 32px;
				display: block;
			}
		}
	}
	.plan__save__four{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px 24px;
		.pricing__chaek__items{
			display: flex;
			align-items: center;
			gap: 8px;
			.form-check-input{
				box-shadow: none;
				outline: none;
			}
		}
		.form-check-input:checked[type=radio] {
			background-color: #41E295;
			border: none;
		}
		.pricing__sav{
			color: #FFAF00;
			.icon{
				display: none;
			}
			.icon2{
				display: block;
			}
		}
	}
	//Plan Same End//

	//Feature Here//
	.feature__work__items2,
	.feature__work__items{
		.icon{
			img{
				filter: brightness(25);
			}
		}
	}
	//Feature End//

	//Pricing Info Here//
	.pricing__table{
		tr{
			th{
				.title{
					color: #fff;
				}
				.price__area{
					.dollar{
						color: #B7AEFB;
					}
					.price{
					  font-size: 1.3rem;  
					  color: #B7AEFB;
					}
				}
				&:nth-child(2){
					.price__area{
						.dollar{
							color: #B7AEFB;
						}
						.price{
						  font-size: 1.3rem;  
						  color: #B7AEFB;
						}
					}
				}
				&:nth-child(3){
					.price__area{
						.dollar{
							color: #41E295
						}
						.price{
						  font-size: 1.3rem;  
						  color: #41E295
						}
					}
				}
				&:nth-child(4){
					.price__area{
						.dollar{
							color: #B7AEFB;
						}
						.price{
						  font-size: 1.3rem;  
						  color: #B7AEFB;
						}
					}
				}
				&:nth-child(5){
					.price__area{
						.dollar{
							color: #FFBD2B
						}
						.price{
						  font-size: 1.3rem;  
						  color: #FFBD2B
						}
					}
				}
			}
			td{
				.success{
					color: #41E295 !important;
				}
				&:nth-child(2){
					.cmn--btn{
						color: #B7AEFB;
						border: 1px solid #452FF4;
					}
				}
				&:nth-child(3){
					.cmn--btn{
						background: unset;
						color: #41E295;
						border: 1px solid #005C30;
					}
				}
				&:nth-child(4){
					.cmn--btn{
						background: unset;
						color: #A89EFA;
						border: 1px solid #452FF4;
					}
				}
				&:nth-child(5){
					.cmn--btn{
						background: unset;
						color: #FFAF00;
						border: 1px solid #6B4A00;
					}
				}
			}
			&:last-child{
				background: unset;
			}
		}
	}
	//Pricing Info End//

	//highlight Here//
	.highlight__right__wrap,
	.highlight__left__wrap{
		.inclue__box{
			.icnos{
				img{
					filter: brightness(25);
				}
			}
		}
	
	}
	//highlight End//

	//newletter three Here//
	.newsletter__section__three{
		.newsletter__wrapper{
			.newsletter__content{
				.social__part{
					.follow__btn{
						a{
							.icon{
								i{
									color: #42526D;
								}
							}
						}
					}
					.social__standard{
						li{
							a{
								i{
									color: var(--white);
								}
							}
							&:nth-child(2){
								a{
									i{
										color: var(--white);
									}
								}
							}
							&:nth-child(3){
								a{
									i{
										color: var(--white);
									}
								}
							}
							&:nth-child(4){
								a{
									i{
										color: var(--white);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	//newletter three End//

	//Porject counter Here//
	.project__count__items{
		.icon{
			background: var(--coutbg1);
			border: 1px solid var(--countright);
			i{
				color: #B7AEFB;
			}
		}
		.icon2{
			border: 1px solid #004022;
			i{
				color: var(--text-base);
			}
		}
		.icon3{
			border: 1px solid #710C0C;
			i{
				color: var(--coubor1);
			}
		}
		.icon4{
			border: 1px solid  #6B4A00;
			i{
			 color: #FFAF00;
			}
		}
		.counter__items{
			.counter__content{
				.cont{
					.odometer{
						color: var(--deeptheme);
					}
					.plus__icon{
						color: var(--deeptheme);
					}
				}
			}
			p{
				color: var(--white);
			}   
		}
		.counter__items2{
			.counter__content{
				.cont{
					.odometer{
						color: var(--text-base);
					} 
					.plus__icon{
						color: var(--text-base);
					}
				}
			}
		}
		.counter__items3{
			.counter__content{
				.cont{
				.odometer{
					color: var(--coubor1);
				} 
				.plus__icon{
					color: var(--coubor1);
				}
				}
			}
		}
		.counter__items4{
			.counter__content{
				.cont{
				.odometer{
					color: var(--intellicon);
				} 
				.plus__icon{
					color: var(--intellicon);
				}
				}
			}
		}
	}
	.project__qustion{
		border: 1px solid var(--base);
	}
	//Porject counter End//

	//realworld Here//
	.realworld__items{
		background: #162557;
		border-right: 4px solid rgba(65, 226, 149, 0.5);
		.content{
			h6{
				color: var(--worning);
			}
			h4{
				a{
					color: var(--white);
				}
			}
			p{
				color: var(--white);
			}
			.real__btn{
				display: flex;
				gap: 4px;
				span{
					color: var(--text-base);
				}
				.icon{
					i{
						color: var(--text-base);
					}
				}
			}
		}
	}
	//realworld End//

	//artificial Here//
	.artificial__content{
		.artificial__app{
			.articial__items{
				&::before{
					filter: brightness(0.6);
				}
				&::after{
					filter: brightness(0.6);
				}
			}
		}
	}
	//artificial End//

	//service Details Here//
	.service__details__left{
		.machine__learning__box{
			.content{
				border-bottom: 1px solid rgba(168, 158, 250, 0.2);
				@include breakpoint(max-md){
					padding-right: 8px;
					padding-left: 8px;
				}
				p{
					font-size: 16px;
					color: var(--white);
				}
			}
			.describtion__reviews{
				.nav{
					.nav-item{
						.nav-link{
							&.active{
								color: #41E295;
							}
						}
					}
				}
			}
		}
		.write__review__wrap{
			form{
				input{
					background: #162557;
					border: 1px solid #162557;
					color: #EBEDF0;
				}
				::placeholder{
					color: #EBEDF0;
				}
				textarea{
					background: #162557;
					border: 1px solid #162557;
					color: #EBEDF0;
				}
				.cmn--btn{
					width: 160px;
					border: none;
					outline: none;
					margin-left: 10px;
				}
			}
		}
		@include breakpoint(max-lg){
			margin-bottom: 35px;
		}
	}
	.reviews__boxes{
		.review-content{
			.name__ratting{
				.time{
					color: #fff;
				}
			}
			p{
				color: #fff;
			}
			.view__btn{
				span{
					color: #41E295;
				}
				.icon{
					margin-top: 10px;
					i{
						color: var(--base);
						font-size: 20px;
					}
				}
			}
		}
	}
	.social__standard{
		li{
			background: #452FF4;
			border: 1px solid #452FF4;
			a{
				i{
					color: var(--white);
				}
				img{
					filter: brightness(25);
				}
			}
			&:nth-child(2){
				background: #005C30;
				border-color: #005C30;
				a{
					i{
						color: var(--white);
					}
				}
			}
			&:nth-child(3){
				background: #6B4900;
				border-color: #6B4900;
				a{
					i{
						color: var(--white);
					}
				}
			}
			&:nth-child(4){
				background: #A21111;
				border-color: #A21111;
				a{
					i{
						color: var(--white);
					}
				}
			}
		}
	}
	.common__item{
		background: #162557;
		h4{
			color: var(--white);
		}
		.title{
			color: var(--white);
			border-bottom: 1px solid rgba(168, 158, 250, 0.2);
		}
		form{
			background: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(168, 158, 250, 0.2);
			input{
				background: transparent;
				color: #EBEDF0;
			}
			::placeholder{
				color: #EBEDF0;
			}
			button{
				i{
					color: #41E295;
				}
			}
		}
		.service__link__wrap{
			a{
				border: 1px solid rgba(168, 158, 250, 0.2);
				.icon{
					border: 1px solid rgba(168, 158, 250, 0.2);
					transition: all 0.4s;
					img{
						filter: brightness(25);
						transition: all 0.4s;
					}
				}
				&:hover{
					.icon{
						background: #ECEAFE;
						img{
							filter: brightness(2);
						}
					}
				}
			}
		}
		.recent__wrap{
			.recent__items{
				.recent__content{
					.date{
						color: #41E295;
					}
				}
			}
		}
	}
	//service Details End//

	//footer Style
	.footer__section{
		.footer__shape{
			display: none;
		}
		.footer__darkshpae{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 9;
			display: block;
			img{
				width: 100%;
			}
		}
	}
	//footer Style

}
//Dark setting//

// -- ---------- Testing Header Running--------- -- //
.header-testting-wrap{
	.menu-border{
		border: 1px solid #55545492;
		padding: 5px;
		border-radius: 5px;
		background: #55545492;
		a{
			padding: 0 0;
		}
		.themetext{
			padding: 14px 0 5px;
			line-height: 14px;
		}
	}
	.header {
		display: block;
		width: 100%;
		position: relative;
		z-index: 99;
		padding: 15px;
		.logo-menu{
			.logo{
				max-width: 200px;
				img{
					width: 100%;
				}
			}
			.logo-small{
				img{
					width: 60px;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		.item-left {
			flex: 0 0 17%;
		}
		// .item-center {
		// 	flex: 0 0 66%;
		// }
		.item-right {
			flex: 0 0 17%;
			display: flex;
			justify-content: flex-end;
			a {
				text-decoration: none;
				font-size: 16px;
				color: var(--themetext);
				display: inline-block;
				margin-left: 10px;
				transition: color 0.3s ease;
			}
		}
		.menu-mitem{
			i{
				color: var(--themetext);
				font-size: 24px;
				line-height: 1px;
			}
			@media screen and (min-width: 991px) {
				color: #fff !important;
				i{
					color: #fff;
				}
			}
		}
		.menu {
			>ul {
				>li {
					display: inline-block;
					line-height: 50px;
					margin-left: 25px;
					>a {
						font-size: 15px;
						font-weight: 500;
						color: var(--themetext);
						position: relative;
						text-transform: capitalize;
						transition: color 0.3s ease;
					}
					.sub-menu {
						position: absolute;
						z-index: 500;
						background: url(../../assets/img/page-case/menu-bg.png) no-repeat center center;
						background-size: cover;
						background-color: var(--white);
						box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);
						padding: 20px 30px;
						transition: all 0.5s ease;
						margin-top: 25px;
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
		.menu {
			.custom-list-inner{
				li{
					transition: all 0.5s;
					a{
						font-size: 16px;
						font-weight: 600;
						text-transform: uppercase;
						transition: all 0.5s !important;
						.versions{
							font-size: 12px;
							text-transform: capitalize;
						}
						&:hover{
							margin-left: 5px;
							color: var(--base) !important;
						}
					}
				}
				&:not(:last-child){
					border-right: 10px solid red;
				}
			}
			>ul {
				>li {
					.sub-menu {
						>ul {
							>li {
								line-height: 1;
								>a {
									display: inline-block;
									padding: 10px 0;
									font-size: 15px;
									color: var(--themetext);
									transition: color 0.3s ease;
									text-decoration: none;
									text-transform: capitalize;
									&:hover {
										color: var(--themetext);
									}
								}
							}
						}
					}
					.single-column-menu {
						min-width: 280px;
						max-width: 350px;
					}
					.sub-menu.mega-menu {
						>.list-item {
							>ul {
								>li {
									line-height: 1;
									display: block;
									>a {
										display: inline-block;
										font-size: 15px;
										color: var(--themetext);
										transition: color 0.3s ease;
										&:hover {
											color: var(--themetext);
										}
									}
								}
							}
						}
						left: 50%;
						transform: translateX(-50%);
					}
					.sub-menu.mega-menu-column-4 {
						max-width: 1100px;
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						padding: 20px 15px;
						>.list-item {
							flex: 0 0 20%;
							padding: 0 5px;
							ul{
								li{
									transition: all 0.5s;
									&:hover{
										margin-left: 5px;
										a{
											color: var(--base) !important;
										}
									}
								}
							}
							.title {
								font-size: 16px;
								color: var(--themetext);
								font-weight: 500;
								line-height: 1;
								padding-top: 12px;
								color: var(--n0);
								padding-bottom: 1px;
								span{
									font-size: 14px;
								}
							}
							.title2{
								font-weight: 7010;
								font-style: 14px !important;
								text-transform: uppercase;
							}
							img{
								width: 100%;
							}
							.hero-menu-thumb{
								display: block;
								background: rgba(26, 26, 26, 1);
								width: 100%;
								padding: 5px;
								border-radius: 8px;
								img {
									width: 100%;
									vertical-align: middle;
									margin-top: 10px;
									object-fit: cover;
									border-radius: 10px;
								}
							}
						}
						>.list-item.text-center {
							.title {
								text-align: center;
								font-weight: 600;
								span{
									font-size: 14px;
								}
							}
						}
					}
					&:hover {
						>a {
							color: var(--themetext);
						}
					}
				}
			}
		}
		.item-right {
			a {
				&:hover {
					color: var(--themetext);
				}
			}
		}
		.mobile-menu-head {
			display: none;
		}
		.mobile-menu-trigger {
			display: none;
		}

	}
	
	/*responsive*/
	@media(min-width: 992px){
		.header {
			.menu {
				>ul {
					>li.menu-item-has-children {
						&:hover {
							.sub-menu {
								margin-top: 0;
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	@media(max-width: 991px){
		@keyframes slideLeft{
			0%{
				opacity:0;
				transform: translateX(100%);
			}
			100%{
				opacity:1;
				transform: translateX(0%);	
			}
		}
		@keyframes slideRight{
			0%{
				opacity:1;
				transform: translateX(0%);
			}
			100%{
				opacity:0;
				transform: translateX(100%);	
			}
		}

		.header {
			.item-center {
				order: 3;
				flex: 0 0 100%;
			}
			.item-left {
				flex: 0 0 auto;
			}
			.item-right {
				flex: 0 0 auto;
				align-items: center;
			}
			.mobile-menu-trigger {
				display: flex;
				height: 36px;
				width: 40px;
				margin-left: 15px;
				cursor: pointer;
				align-items: center;
				justify-content: center;
				span {
					display: block;
					height: 2px;
					background-color: var(--white);
					width: 40px;
					position: relative;
					&:before {
						content: '';
						position: absolute;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: var(--white);
						top: -10px;
					}
					&:after {
						content: '';
						position: absolute;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: var(--white);
						top: 10px;
					}
				}
			}
			.menu {
				position: fixed;
				width: 320px;
				background-color: var(--white);
				left: 0;
				top: 0;
				height: 100%;
				overflow: hidden;
				transform: translate(-100%);
				transition: all 0.5s ease;
				z-index: 1099;
				>ul {
					>li {
						line-height: 1;
						margin: 0;
						display: block;
						>a {
							line-height: 50px;
							height: 50px;
							padding: 0 50px 0 15px;
							display: block;
							border-bottom: 1px solid rgba(0,0,0,0.1);
							i {
								position: absolute;
								height: 50px;
								width: 50px;
								top: 0;
								right: 0;
								text-align: center;
								line-height: 50px;
								transform: rotate(-90deg);
							}
						}
						.sub-menu.mega-menu {
							visibility: visible;
							opacity: 1;
							position: absolute;
							box-shadow: none;
							margin: 0;
							padding: 15px;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							padding-top: 65px;
							max-width: none;
							min-width: auto;
							display: none;
							transform: translateX(0%);
							overflow-y: auto;
							>.list-item {
								>ul {
									>li {
										>a {
											display: block;
										}
									}
									margin-bottom: 15px;
								}
							}
						}
						.sub-menu {
							visibility: visible;
							opacity: 1;
							position: absolute;
							box-shadow: none;
							margin: 0;
							padding: 15px;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							padding-top: 65px;
							max-width: none;
							min-width: auto;
							display: none;
							transform: translateX(0%);
							overflow-y: auto;
							>ul {
								>li {
									>a {
										display: block;
									}
								}
							}
						}
						.sub-menu.active {
							display: block;
						}
						.sub-menu.mega-menu-column-4 {
							>.list-item {
								img {
									margin-top: 0;
								}
								flex: 0 0 100%;
								padding: 5px 0;
							}
							>.list-item.text-center {
								.title {
									margin-bottom: 20px;
								}
								&:last-child {
									.title {
										margin-bottom: 0px;
									}
								}
							}
						}
					}
				}
				.mobile-menu-head {
					display: flex;
					height: 50px;
					border-bottom: 1px solid rgba(0,0,0,0.1);
					justify-content: space-between;
					align-items: center;
					position: relative;
					z-index: 501;
					position: sticky;
					background-color: var(--white);
					top: 0;
					.go-back {
						height: 50px;
						width: 50px;
						border-right: 1px solid rgba(0,0,0,0.1);
						cursor: pointer;
						line-height: 50px;
						text-align: center;
						color: var(--themetext);
						font-size: 16px;
						i{
							font-size: 16px;
							color: var(--themetext);
						}
					}
					.current-menu-title {
						font-size: 15px;
						font-weight: 500;
						color: var(--themetext);
					}
					.mobile-menu-close {
						height: 50px;
						width: 50px;
						border-left: 1px solid rgba(0,0,0,0.1);
						cursor: pointer;
						line-height: 50px;
						text-align: center;
						color: var(--themetext);
						font-size: 25px;
					}
				}
				.mobile-menu-head.active {
					.go-back {
						display: block;
					}
				}
				.menu-main {
					height: 100%;
					overflow-x: hidden;
					overflow-y: auto;
				}
			}
			.menu.active {
				transform: translate(0%);
			}
		}
		.menu-overlay {
			position: fixed;
			background-color: #00000092;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1098;
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s ease;
		}
		.menu-overlay.active {
			visibility: visible;
			opacity: 1;
		}
	}
}

// -- ---------- Testing Header Running--------- -- //